.main{
    text-align:center;
}

input[type=search],  select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.line{
    position: absolute;
    width:39rem;
    top: 14rem;
    border: 1px solid black;
    z-index: -1;
}



#DropDownSearchContainer{

    width:45%;
    background-color: whitesmoke;
    margin: 0 9rem;
    display:flex;
    flex-direction: column;
}


a{
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 0.5rem;
}

a:hover{
    text-decoration: underline;
    background-color: darkgrey;
}