.mainBody{
   display: grid;
   grid-template-columns: 1fr 1fr;
}



input[type=text],  select {
     width: 92%;
     padding: 12px 20px;
     margin: 8px 0;
     display: block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}

.formWrapper{
    width: 30rem;
    padding-left: 1rem;
    background-color: #BCD3DD;
}
#addWords{
    width: 100%;
    height: 20rem;
    padding: 1rem;
    margin: 2rem -1rem;
}

#error{
    position: absolute;
    top: 9rem;
    border: 5px solid red;
    background-color: red;
    color: white;
}

#add{
    position: absolute;
    top: 31.5rem;
    margin-left: 21.6rem;
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#submit{
    position: absolute;
    top: 31.5rem;
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 26%;
}

#submit:hover{
    background-color: #ddd;
    color: black;
}
#add:hover{
    background-color: #ddd;
    color: black;
}

.blueBorder{

    background-color: #33C3FF;
    padding: 1rem;
    margin-bottom: 2rem;
}


.PreviousPage{
    background-color: #f1f1f1;
    color: black;
    border: none;
    padding: 0.5rem;
    cursor:pointer;
}

.PreviousPage:hover{
    background-color: #ddd;
    color: black;
}