.mainBody{
   display: grid;
   grid-template-columns: 1fr 1fr;
}


h1{
    text-align: center;
}
input[type=text],  select {
     width: 92%;
     padding: 12px 20px;
     margin: 8px 0;
     display: block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}

.formWrapper{
    width: 30rem;
    padding-left: 1rem;
    background-color: #BCD3DD;
}
#addWords{
    width: 100%;
    height: 20rem;
    padding: 1rem;
    margin: 2rem -1rem;
}

#error{
    position: absolute;
    top: 3rem;
    border: 5px solid red;
    background-color: red;
    color: white;
}

#add{
    position: absolute;
    top: 25.7rem;
    margin-left: 21.6rem;
    background-color: #33C3FF;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#submit{
    position: absolute;
    top: 25.7rem;
    background-color: #33C3FF;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 26%;
}

